* {
    color: #fff;
    font-family: "Roboto Light", sans-serif;
}

body {
    background-color: #0C191D;
}

#root {
    margin: 0 auto;
    width: 50%;
    background-color: #02182B;
    border-radius: 1em;
}

header h1 {
    text-align: center;
}

#root table {
    margin-left: auto;
    margin-right: auto;
    border-spacing: 1em;
    border-collapse: separate;
    width: 100%;
}

th, td {
    width: 33%;
    text-align: center;
}

label, input {
    display: inline-block;
}

label {
    width: 30%;
    text-align: right;
}

label+input {
    width: 30%;
    margin: 0 30% 0 4%;
}

input[type=button] {
    display: grid;
    background-color: #D7263D;
    border: 0;
    margin: 1em auto auto;
    padding: 1em;
    border-radius: 0.5em;
}

input[type=button]:hover {
    background-color: #EA8693;
}

input[type=text], input[type=date] {
    color: #000;
}